{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "patientId": $util.dynamodb.toDynamoDBJson($context.arguments.patientId)
    },
    "update" : {
        "expression" : "set #fullName = :fullName",
        "expressionNames" : {
           "#fullName" : "fullName"
       },
       "expressionValues" : {
            ":fullName" : $util.dynamodb.toDynamoDBJson($context.arguments.fullName)
       }
    }
}