{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "patientId": $util.dynamodb.toDynamoDBJson($context.arguments.patientId)
    },
    "update" : {
        "expression" : "set #weight = :weight",
        "expressionNames" : {
           "#weight" : "weight"
       },
       "expressionValues" : {
            ":weight" : $util.dynamodb.toDynamoDBJson($context.arguments.weight)
       }
    }
}