{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "appointmentId": $util.dynamodb.toDynamoDBJson($context.arguments.appointmentStatus.appointmentId)
    },
    "update" : {
        "expression" : "set #status = :status, #cancelReason = :cancelReason",
        "expressionNames" : {
           "#status" : "status",
           "#cancelReason" : "cancelReason"
       },
       "expressionValues" : {
            ":status" : $util.dynamodb.toDynamoDBJson($context.arguments.appointmentStatus.status),
            ":cancelReason" : $util.dynamodb.toDynamoDBJson($context.arguments.appointmentStatus.cancelReason),
       }
    }
}