{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "patientId": $util.dynamodb.toDynamoDBJson($context.arguments.patientId)
    },
    "update" : {
        "expression" : "set #parentInfo = :parentInfo",
        "expressionNames" : {
           "#parentInfo" : "parentInfo"
       },
       "expressionValues" : {
            ":parentInfo" : $util.dynamodb.toDynamoDBJson($context.arguments.parentInfo)
       }
    }
}