{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "patientId": $util.dynamodb.toDynamoDBJson($context.identity.username)
    },
    "update" : {
        "expression" : "set #name = :name, email = :email, phone = :phone, address = :address",
        "expressionNames" : {
           "#name" : "name"
       },
       "expressionValues" : {
           ":name" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.name),
           ":email" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.email),
           ":phone" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.phone),
           ":address" : $util.dynamodb.toDynamoDBJson($context.arguments.newProfile.address)
       }
    },
    "condition" : {
        "expression" : "attribute_exists(id)"
    }
}