{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "patientId": $util.dynamodb.toDynamoDBJson($context.arguments.patientId)
    },
    "update" : {
        "expression" : "set #status = :status",
        "expressionNames" : {
           "#status" : "status"
       },
       "expressionValues" : {
            ":status" : $util.dynamodb.toDynamoDBJson($context.arguments.status),
       }
    }
}