{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "patientId": $util.dynamodb.toDynamoDBJson($context.arguments.patientId)
    },
    "update" : {
        "expression" : "set #height = :height",
        "expressionNames" : {
           "#height" : "height"
       },
       "expressionValues" : {
            ":height" : $util.dynamodb.toDynamoDBJson($context.arguments.height)
       }
    }
}