{
  "version" : "2018-05-29",
  "operation" : "Query",
  "query" : {
    "expression" : "creatorId = :creatorId",
    "expressionValues" : {
      ":creatorId" : $util.dynamodb.toDynamoDBJson($context.arguments.creatorId)
    }
  },
  "index": "byCreatorId",
  "nextToken" : $util.toJson($context.arguments.nextToken),
  "limit" : $util.defaultIfNull(${context.arguments.limit}, 20),
  "scanIndexForward" : false,
  "consistentRead" : false,
  "select" : "ALL_ATTRIBUTES"
}
