{
  "version" : "2018-05-29",
  "operation" : "Query",
  "query" : {
    "expression" : "patientId = :patientId",
    "expressionValues" : {
      ":patientId" : $util.dynamodb.toDynamoDBJson($context.arguments.patientId)
    }
  },
  "index": "byPatientId",
  "select" : "ALL_ATTRIBUTES"
}


