{
  "version" : "2018-05-29",
  "operation" : "Query",
  "query" : {
    "expression" : "patientId = :patientId",
    "expressionValues" : {
      ":patientId" : $util.dynamodb.toDynamoDBJson($context.arguments.patientId)
    }
  },
  "index": "byPatientId",
  "nextToken" : $util.toJson($context.arguments.nextToken),
  "limit" : $util.defaultIfNull(${context.arguments.limit}, 20),
  "scanIndexForward" : false,
  "consistentRead" : false,
  "select" : "ALL_ATTRIBUTES"
}
